html,
body {
    height: 100% !important;
    overflow: hidden !important;
    /*position: fixed !important;*/
    margin: 0;
    color: white;
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.title,
.subtitle{
    color: white;
}

.navbar {
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.navbar-burger {
    width: auto;
}

section {
    padding-top: 1em !important;
}

.control label {
    margin-bottom: .8rem !important;
}

button {
    /*margin-top: 5px;*/
    padding-left: 20px !important;
    padding-right: 20px !important;
}

progress {
    margin-top: 5px;
}

div#joystick {
    width: 100%;
    height: 8rem;
}