html, body {
    height: 100% !important; 
    overflow: hidden !important;
    position: fixed !important;
}

.control label{
    margin-bottom: .8rem !important;
}

button{
    margin-top: 5px;
    padding-left: 20px !important;
    padding-right: 20px !important; 
}

progress{
    margin-top: 5px;
}
